.container {
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  display:inline-block;
  -webkit-perspective: 80px;
     -moz-perspective: 80px;
       -o-perspective: 80px;
          perspective: 80px;
}

#card {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

#card figure {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 1px;
  color:darkgray;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
margin: 0;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#card .front {
  background: grey;
}

#card .back {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}